/node_modules
/dist
/dist-server
/dist-ssr
/node_modules
/node_modules


/coverage

package-lock.json
*-lock.json

.cursor
.vscode
.idea
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.angular
/dist
/dist-server
/dist-ssr
/node_modules
/node_modules

CHANGELOG.md



